@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


/*  --------------------------General styles--------------------------------------------*/ 
*{
    margin: 0;
    padding: 0;
}

.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
    min-height: 100vh;
    max-width:100hh;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    

}

/* --------------------------- Fonts ----------------------------------------------------*/ 


p{
    font-family: 'Open Sans', Arial, sans-serif;
}



/* --------------------------- Index.html----------------------------------------------------*/ 
.page-header h1{
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

.logo-image{
    width: 250px;
}

#homepage-buttons-container{
  Padding-top: 10px;
  min-height: 60vh;
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  justify-content: space-evenly;
}

.button-homepage{
    height:75px;
    width:50%;
    background-color: #1b6089;
    border-radius: 8px;
    border: 2px solid #1a3e5b;
    transition-duration: 0.4s;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    font-size: 16px;
}

.button-homepage:hover{
    background-color:#b5ca83;
    border: 2px solid #1a3e5b;
    color: #000;
}

footer{
    min-height:50px;
    margin-top:auto;
    background-color: #1a3e5b;
    padding-top:10px;
    color: #fff;
}

/* --------------------------- startGame.html----------------------------------------------------*/ 

#choose-Game-buttons-container{
  Padding-top: 10px;
  max-height: 30vh;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row; 
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100hh;
}

#choose-Level-buttons-container{
  padding:0;
  Padding-top: 10px;
  max-height: 30vh;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row; 
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100hh;
}

.button-StartGame{
    height:75px;
    width: 100px;
    background-color: #1b6089;
    border-radius: 8px;
    border: 2px solid #1a3e5b;
    transition-duration: 0.4s;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.button-StartGame:hover{
    background-color:#b5ca83;
    border: 2px solid #1a3e5b;
    color: #000;
}

.options-area h2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.options-area {
  Padding-top: 20px;
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  justify-content: space-between;
}

#choose-Game-buttons-container .button-StartGame{
    width: 140px;
}

#home-button{
Padding-top: 10px;
  max-height: 30vh;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row; 
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-Home{
    background-color:#5993d3;
    border: 2px solid #1a3e5b;
    color: #000;
    height:50px;
    width: 100px;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
}

.button-Home:hover{
    background-color:#b5ca83;
    border: 2px solid #1a3e5b;
    color: #000;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}